* {
    margin: 0;
    padding: 0;
  }
  nav{
    position: flex;
    text-align-last:right;
  }
  img{
    width: 100%;
    
  }
  .footer{
   
    text-align-last: center;
    width: 100%;
    background: black;
    color:white;
    height: 50px;
  }
  .product{
    width: 300px;
    align-content: flex;
    border: 2px double;
    
  }